#intro{
    padding-top: 50px;
    min-height: 100vh;
    position: relative;
    // background : {
    //     position: center center;
    //     repeat: no-repeat;
    //     image: url('../images/index/indexBackground.jpg');
    // }
    .pictureLayout{
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background : {
            position: center center;
            repeat: no-repeat;
            image: url('../images/index/indexBackgroundBig.jpg');
        }
        opacity: 0;
        transition: opacity 1s;
        -webkit-transition: opacity 1s;
    }
    .smallHeading{
        font-size: 14px;
        color: $brand-light-grey;
        margin-bottom: 200px;
        @media screen and (min-width: 1140px) and(max-width: 1439px){
            margin-bottom: 155px;
        }
        opacity: 0;
        -webkit-transition: opacity 1s;
        transition: opacity 1s;
    }
    h1{
        font-size: 62px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 170px;
        overflow: hidden;
        
        
        // opacity: 0;
        // transition: opacity 1s;
        // -webkit-transition: opacity 1s;
    }
    .effect-1 {
        position: relative;
        display: inline-block;
        font-size: 100px;
        color: #d4d4d4;
      
        &:before {
            content: attr(data-text);
            position: absolute;
            overflow: hidden;
            white-space: nowrap;
            width: 0;
            color: #72cc96;
            animation: fill-1 2s infinite;
        }
    }
      
    @keyframes fill-1 {
        50%   { width: 100%; }
        100%  { width: 0%;   }
    }
    button{
        @extend .buttonStyles;
        display: block;
        border: 1px solid $brand-green;
        color: $white;
        background-color: $brand-green;
        margin-bottom: 35px;
        transition: background-color .5s ease-out;
        -webkit-transition: background-color .5s ease-out;
        transition: color .5s ease-out;
        -webkit-transition: color .5s ease-out;
        &:hover{
            background-color: $white;
            color: $brand-green;
        }
    }
    .opacityButton{
        opacity: 0;
        transition: opacity 1s;
        -webkit-transition: opacity 1s;
    }
    .arrowBottom{
        display: block;
        width: intrinsic;
        width: -moz-max-content;
        width: -webkit-max-content;

        margin: 0 auto;

    }
}

#product{
    margin-bottom: 127px;
    .rowExtended{
        margin: 0 0 0 0;
    }
    .productLinkWrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
        a{
            display: flex;
            position: relative;
            background : {
                position: center center;
                repeat: no-repeat;
            }
            &:hover{
                img{
                    transform: scale(1.2, 1.2);
                    -moz-transition:  transform 1s;
                    -webkit-transition:  transform 1s;
                    transition: transform 1s;
                }
            }
            img{
                margin: auto;
                -moz-transition:  transform 1s;
                -webkit-transition:  transform 1s;
                transition: transform 1s;
            }
        }

        .grey{
            width: 100%;
            height: 560px;
            background-color: $product-background-grey;
        }

        .yellow{
            background-color: $product-background-yellow;
            width: 301.5px;
            height: 294px;
            margin-bottom: 30px;
        }

        .orange{
            background-color: $product-background-orange;
            width: 301.5px;
            height: 294px;
            margin-bottom: 30px;
        }

        .orangeSecond{
            width: 100%;
            height: 235.5px;
            margin-bottom: 0;
        }

        .green{
            background-color: $product-background-green;
            width: 100%;
            height: 235.5px;
            margin-bottom: 30px;
        }

        .greenSecond{
            width: 301.5px;
            height: 294px;
        }

        .layout{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.75);
            display: flex;
            opacity: 0;
            -moz-transition: opacity 1s;
            -webkit-transition: opacity 1s;
            transition: opacity 1s;
            &:hover{
                opacity: 1;
                -moz-transition: opacity 1s;
                -webkit-transition: opacity 1s;
                transition: opacity 1s;
            }
            ul{
                margin: auto;
                li{
                    font-size: 18px;
                    font-weight: 800;
                    text-transform: uppercase;
                }
            } 
        }

        .layoutShow{
            animation: showElements 0.5s 1;
            opacity: 1;
        }
    }
}

#clients{
    margin-bottom: 125px;
    .swiper-container {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        .swiper-slide {
			text-align: center;
			font-size: 18px;
			background: #fff;
			height: 200px;
			  /* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
		}
    }
}

#case{
    margin-bottom: 125px;
    .caseWrapper{
        display: inline-flex;
        width: 100%;
        .caseDescription{
            width: 43%;
            height: 460px;
            padding: 85px 80px 30px;
            background-color: $brand-green;
            position: relative;
            margin-bottom: 75px;
            .caseHeading{
                font-size: 21px;
                font-weight: 700;
                color: $white;
                margin-bottom: 72px;
                text-transform: uppercase;
                letter-spacing: 0.1em;
            }
            .caseTechnology{
                font-size: 18px;
                font-weight: 600;
                color: $white;
                letter-spacing: 0.1em;
                margin-bottom: 21px;
            }
            .caseTechnologyContent{
                font-size: 14px;
                color: $white;
                letter-spacing: 0.1em;
                margin-bottom: 60px;
            }
            .caseLink{
                @extend .buttonStyles;
                display: block;
                border: 1px solid $white;
                background-color: $white;
                padding: 11px 35px;
                font-size: 11px;
                color: $brand-green;
                width: intrinsic;           /* Safari/WebKit uses a non-standard name */
                width: -moz-max-content;    /* Firefox/Gecko */
                width: -webkit-max-content; /* Chrome */
                &:hover{
                    background-color: $brand-green;
                    color: $white;
                }
            }
        }
        .caseImageLink{
            width: 57%;
            height: 460px;
            background : {
                position: center center;
                size: cover;
                image : url('../images/index/caseBackground.jpg');
            }
        }
    }
    
    .caseShowMoreLinkWrapper{
        .caseShowMoreLink{
            display: block;
            border: 1px solid $brand-green;
            border-radius: 30px;
            padding: 15px 35px;
            margin: 0 auto;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            color: $brand-green;
            text-transform: uppercase;
            width: intrinsic;           /* Safari/WebKit uses a non-standard name */
            width: -moz-max-content;    /* Firefox/Gecko */
            width: -webkit-max-content; /* Chrome */
            transition: all .5s ease-out;
            -webkit-transition: all .5s ease-out;
            &:hover{
                background-color: $brand-green;
                color: $white;
            }
        }
    }
}

#popularItems{
    margin-bottom: 125px;
    .productCardPreview{
        &:hover{
            .productName, .productSKU{
                color: $brand-green;
            }
        }
        .productCardImage{
            width: 100%;
            height: 360px;
            margin-bottom: 20px;
            background : {
                color: $brand-light-background;
                position: center center;
                repeat: no-repeat;
            }
            position: relative;
            &:hover{
                div{
                    -moz-transition: opacity 1s;
                    -webkit-transition: opacity 1s;
                    transition: opacity 1s;
                    opacity: 1;
                }
            }
            div{
                position: absolute;

                width: intrinsic;
                width: -moz-max-content;
                width: -webkit-max-content;

                font-size: 14px;
                font-style: italic;
                
                cursor: pointer;

                opacity: 0;
                -moz-transition: opacity 1s;
                -webkit-transition: opacity 1s;
                transition: opacity 1s;
                &:before{
                    position: absolute;
                    display: block;
                    content: '';
                    background : {
                        repeat: no-repeat;
                    }
                }
            }
            .productAddToFavorite{
                top: 17px;
                right: 60px;
                &:before{
                    width: 22px;
                    height: 17px;
                    right: -33px;
                    background : {
                        image: url('../images/casesDemo/productMoreSprite.png'); 
                        repeat: no-repeat;
                        position: -3px -3px;
                    }                    
                }
                &:hover{
                    &:before{
                        background-position: -3px -26px;
                    }
                }
            }
            .productBio{ 
                bottom: 17px;
                left: 60px;
                &:before{    
                    width: 19px;
                    height: 19px;            
                    left: -27px;
                    background : {
                        image: url('../images/casesDemo/productBioSprite.png');
                        repeat: no-repeat;
                        position: -5px -5px;
                    }
                }
                &:hover{
                    &:before{
                        background-position: -5px -34px;
                    }
                }
            }
        }
        .productCardImageFirst{
            background-image: url('../images/casesDemo/casesDemo.png')
        }
        .productCardImageSecond{
            background-image: url('../images/casesDemo/casesDemo2.png')
        }
        .productCardImageThird{
            background-image: url('../images/casesDemo/casesDemo3.png')
        }
        .productName{
            font-weight: 700;
            font-size: 14px;
            color: $brand-black;
            margin-bottom: 10px;
            transition: all .5s ease-out;
            -webkit-transition: all .5s ease-out;
        }
        .productSKU{
            font-size: 14px;
            text-transform: uppercase;
            color: $brand-grey;
            font-weight: 500;
            transition: all .5s ease-out;
            -webkit-transition: all .5s ease-out;
            span{
                font-size: 1.0em;
                color: inherit;
                font-weight: 500;
            }
        }
    }
}

#form{
    margin-bottom: 100px;
    .formWrapper{
        //background-color: rgba(47, 180, 162, 0.15);
        padding: 130px 0 145px;
        position: relative;
        .treeImage{
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            max-height: 100%;
        }
        h2{
            font-size: 40px;
            text-transform: uppercase;
            margin-bottom: 45px;
        }
        p{
            color: $brand-light-grey;
            font-style: italic;
            margin-bottom: 50px;
        }
        .smallerHeading, .treeImage, .introForm{
            opacity: 0;
            transition: opacity 1s;
            -webkit-transition: opacity 1s;
        }
        form{
            max-width: 360px;
            margin: 0 auto;
            .form-group{
                &:last-of-type{
                    margin-bottom: 50px;
                }
                .form-control{
                    padding: 15px 25px;
                    border-radius: $radius;
                    font-size: 14px;
                    color: $brand-black;
                    &:focus, &:active{
                        outline: none;
                        box-shadow: none;
                        border-color: $brand-green;
                    }
                }
                ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: $brand-grey;
                }
                ::-moz-placeholder { /* Firefox 19+ */
                    color: $brand-grey;
                }
                :-ms-input-placeholder { /* IE 10+ */
                    color: $brand-grey;
                }
                :-moz-placeholder { /* Firefox 18- */
                    color: $brand-grey;
                }
            }
            button{
                @extend .buttonStyles;
                display: block;
                border: 1px solid $brand-green;
                color: $white;
                background-color: $brand-green;  
                &:focus, &:active{
                    border-color: $brand-green;
                }
            }
        }
    }
}