#cases{
    margin-bottom: 125px;
    .caseDescription{
        width: 100%;
        height: 460px;
        padding: 55px 30px 35px 45px;
        background-color: $brand-green;
        position: relative;
        margin-bottom: 75px;
        .caseTechnology{
            font-size: 18px;
            font-weight: 600;
            color: $white;
            letter-spacing: 0.1em;
            margin-bottom: 20px;
        }
        .caseTechnologyContent{
            font-size: 14px;
            color: $white;
            letter-spacing: 0.1em;
        }
        .caseLogo{
            position: absolute;
            left: 45px;
            bottom: 45px;
        }
        .caseLink{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 35px;
            right: 30px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            background-color: $white;
            color: $brand-green;
            font-size: 50px;
        }
    }
    .caseImage{
        width: 100%;
        height: 460px;
        background : {
            size: cover;
            position: center center;
            repeat: no-repeat;
            image: url('../images/index/caseBackground.jpg');
        }
    }
    .caseShowMoreLinkWrapper{
        .caseShowMoreLink{
            display: block;
            border: 1px solid $brand-green;
            border-radius: 30px;
            padding: 15px 35px;
            margin: 0 auto;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            color: $brand-green;
            text-transform: uppercase;
            width: intrinsic;           /* Safari/WebKit uses a non-standard name */
            width: -moz-max-content;    /* Firefox/Gecko */
            width: -webkit-max-content; /* Chrome */
            transition: all .5s ease-out;
            -webkit-transition: all .5s ease-out;
            &:hover{
                background-color: $brand-green;
                color: $white;
            }
        }
    }
}

#popularItems{
    margin-bottom: 125px;
    .productCardPreview{
        &:hover{
            .productName, .productSKU{
                color: $brand-green;
            }
        }
        .productCardImage{
            width: 100%;
            height: 360px;
            margin-bottom: 20px;
            background : {
                color: $brand-light-background;
                position: center center;
                repeat: no-repeat;
            }
        }
        .productCardImageFirst{
            background-image: url('../images/casesDemo/casesDemo.png')
        }
        .productCardImageSecond{
            background-image: url('../images/casesDemo/casesDemo2.png')
        }
        .productCardImageThird{
            background-image: url('../images/casesDemo/casesDemo3.png')
        }
        .productName{
            font-weight: 700;
            font-size: 14px;
            color: $brand-black;
            margin-bottom: 10px;
            transition: all .5s ease-out;
            -webkit-transition: all .5s ease-out;
        }
        .productSKU{
            font-size: 14px;
            text-transform: uppercase;
            color: $brand-grey;
            font-weight: 500;
            transition: all .5s ease-out;
            -webkit-transition: all .5s ease-out;
            span{
                font-size: 1.0em;
                color: inherit;
                font-weight: 500;
            }
        }
    }
}

#form{
    margin-bottom: 100px;
    .formWrapper{
        background-color: rgba(47, 180, 162, 0.15);
        padding: 130px 0 145px;
        position: relative;
        .treeImage{
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            max-height: 100%;
        }
        h2{
            font-size: 40px;
            text-transform: uppercase;
            margin-bottom: 45px;
        }
        p{
            color: $brand-light-grey;
            font-style: italic;
            margin-bottom: 50px;
        }
        form{
            max-width: 360px;
            margin: 0 auto;
            .form-group{
                &:last-of-type{
                    margin-bottom: 50px;
                }
                .form-control{
                    padding: 15px 25px;
                    border-radius: $radius;
                    font-size: 14px;
                    color: $brand-black;
                    &:focus, &:active{
                        outline: none;
                        box-shadow: none;
                        border-color: $brand-green;
                    }
                }
                ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: $brand-grey;
                }
                ::-moz-placeholder { /* Firefox 19+ */
                    color: $brand-grey;
                }
                :-ms-input-placeholder { /* IE 10+ */
                    color: $brand-grey;
                }
                :-moz-placeholder { /* Firefox 18- */
                    color: $brand-grey;
                }
            }
            button{
                display: block;
                border: 1px solid $brand-green;
                border-radius: 30px;
                padding: 15px 35px;
                width: 255px;
                margin: 0 auto;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                color: $white;
                background-color: $brand-green;
                transition: all .5s ease-out;
                -webkit-transition: all .5s ease-out;
                &:focus, &:active{
                    outline: none;
                    box-shadow: none;
                    border-color: $brand-green;
                }
            }
        }
    }
}