#introVideo{
    background : {
        position: center center;
        size: cover;
        repeat: no-repeat;
        image: url('../images/product/background.jpg');
    }
}

.nonalcoholProduct{
    .productLinkWrapper{
        flex-direction: column;
        .blue{
            height: 660px;
            width: 100%;
            background-color: $brand-blue;
        }
        .grey{
            height: 380px;
            width: 100%;
            margin-bottom: 30px;
            background-color: $product-background-grey;
        }
        .blueDarken{
            width: 100%;
            height: 250px;
            background-color: $brand-dark-blue;
        }
    }
}