#case{
    margin-bottom: 125px;
    .caseWrapper{
        display: inline-flex;
        width: 100%;
        @include respond-up-to(sm){
            display: flex;
            flex-wrap: wrap;
        }
        &:nth-child(odd){
            .caseDescription{
                order: 1;
            }
            .caseImageLink{
                order: 2;
            }
        }
        .caseDescription{
            width: 43%;
            height: 460px;
            //padding: 85px 80px 30px;
            padding: 50px 60px 30px;
            background-color: $product-background-green;
            position: relative;
            margin-bottom: 75px;
            @include respond-up-to(sm){
                width: 100%;
                min-height: 255px;
                height: auto;
                padding: 35px 15px 20px;
            }
            @include respond-exact(md){
                height: 285px;
                padding: 50px 20px 20px;
            }
            .caseHeading{
                font-size: 21px;
                font-weight: 700;
                color: $white;
                margin-bottom: 72px;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                @include respond-up-to(sm){
                    font-size: 16px;
                    margin-bottom: 25px;
                }
                @include respond-exact(md){
                    font-size: 14px;
                    margin-bottom: 30px;
                }
            }
            .caseTechnology{
                font-size: 18px;
                font-weight: 600;
                color: $white;
                letter-spacing: 0.1em;
                margin-bottom: 21px;
                @include respond-up-to(md){
                    font-size: 14px;
                }
            }
            p{
                font-size: 14px;
                color: $white;
                letter-spacing: 0.1em;
                margin-bottom: 60px;
                @include respond-up-to(sm){
                    font-size: 14px;
                }
                @include respond-exact(md){
                    font-size: 12px;
                }
            }
            .caseLink{
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                color: $white;
                border-bottom: 1px solid $white;

                position: absolute;
                bottom: 23px;
                left: 50%;
                transform: translateX(-50%);

                display: block;

                @include respond-up-to(md){
                    font-size: 12px;
                }
                &:hover{
                    display: block;
                }
            }
            
        }
        .caseImageLink{
            width: 57%;
            height: 460px;
            background : {
                position: center center;
                size: cover;
                image : url('../images/index/caseBackground.jpg');
            }
            @include respond-up-to(sm){
                width: 100%;
                height: 370px;
            }
            @include respond-exact(md){
                height: 285px;
            }
        }
    }
    
    .caseShowMoreLinkWrapper{
        .caseShowMoreLink{
            display: block;
            border: 1px solid $brand-green;
            border-radius: 30px;
            padding: 15px 35px;
            margin: 0 auto;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            color: $brand-green;
            text-transform: uppercase;
            width: intrinsic;           /* Safari/WebKit uses a non-standard name */
            width: -moz-max-content;    /* Firefox/Gecko */
            width: -webkit-max-content; /* Chrome */
            transition: all .5s ease-out;
            -webkit-transition: all .5s ease-out;
            &:hover{
                background-color: $brand-green;
                color: $white;
            }
            @include respond-exact(md){
                font-size: 12px;
            }
        }
        // a{
        //     margin: 0 auto;

        //     display: block;
            
        //     height: 50px;
        //     padding: 15px 35px;
        //     text-align: center;

        //     border: 1px solid $brand-green;
        //     background: $white;
        //     color: $brand-green !important;
            


        //     width: 265px;

        //     &:hover{
        //         div{
        //             color: $brand-green !important;
        //         }
        //     }

        //     @include respond-exact(md){
        //         width: 225px;
        //     }
        //     div{
        //         color: $brand-green !important;
        //         @include respond-exact(md){
        //             font-size: 12px;
        //         }
        //     }

        //     &:hover{
        //         display: block;
        //         width: 265px;
        //         height: 50px;
        //         padding: 15px 35px;
        //         text-align: center;

        //         border: 1px solid $brand-green;
        //         background: $white;
        //         color: $brand-green;
        //     }
        // }
    }
}

.mainpage{
    margin-bottom: 60px !important;
    .caseDescription{
        margin-bottom: 40px !important;
        @include respond-exact(md){
            margin-bottom: 45px !important;
        } 
    }
}