$brand-black: #313131;
$brand-light-grey: #666666;
$brand-grey: #939394;
$brand-light-green: #eaf7f5;
$brand-green: #2fb4a2;
$brand-light-background: #edf3f9;
$brand-blue: #00b8d4;
$brand-dark-blue: #3d5afe;

$product-background-grey: #dde4ee;
$product-background-yellow: #ffea00;
$product-background-orange: #f57c00;
$product-background-green: #00c853;

$black: #000000;
$white: #FFFFFF;
$brand-red: #E14D43;
$brand-yellow: #ECB115;
$dark-grey: #4A4A4A;
$light-grey: #E5E5E5;
$llight-grey: #f6f6f6;

$radius: 2px;